[Unit]
Description=Home Assistant
After=network.target influxdb.service mysql.service grafana-server.service postfix.service

[Service]
Type=simple
User=%i
PIDFile=/var/run/home-assistant@hass.pid
ExecStart=/home/hass/home-assistant/bin/hass -v --config /home/hass/home-assistant/config

[Install]
WantedBy=multi-user.target
